.singleproduct{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.leftproduct img{
    width: 300px;
    height: 400px;
    object-fit: cover;
    background-position: center;
    background-size: cover;
}
.leftproduct{
    flex-basis: 40%;
}
.rightproduct{
    flex-basis: 60%;
}
.rightproduct button{
    padding: 4px;
    background-color: transparent;
    border: 2px solid crimson;
    outline: none;
    border-radius: 5px;
}
@media screen and (max-width : 780px) {
    .singleproduct{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}