.offers-container h2{
    font-size: 25px;
    margin-left: 10px;
}
.offers-container{
    padding: 20px 0px;
    width: 90%;
    margin: 0px auto;
}
.offer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 20px;
}
.offer{
    border: none;
    padding: 10px;
    width: 250px;
    height: 400px;
    text-align: center;
    background-color: aliceblue;
    border-radius: 5px;
}
.offer h2{
    font-size: 14px;
}
.price span{
    font-size: 15px;
}
.offer img{
    width: 200px;
    height: 250px;
}
.offer button{
    width: 100%;
}